







/*Header*/


/* Site nav */


/* Contact */


/* Hero */



/* Principles */



/* Section */







/* Team */
/* .section-team{
    margin-bottom: 50px;
    /* padding-top: 94px; */
/*     
    color:var( --title-text-color) ;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
} */ 


/* .team-soc-icon{
    fill: #AFB1B8
} */

/*Clients*/



/* Button */




/* Стили для Портофолио" */
/*Фильтры*/



/* Examples */




/* Footer */




/*Модальное окно*/


  


