.section-client{
    // padding: 94px 0;
    padding: 60px 0;

    background-color: #FFFFFF;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
      }
}

/* .section-client-title{
    margin-bottom: 50px;
    padding-top: 94px; */  
    /* color:var( --title-text-color) ;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
} */

/* .client-border{
    background-color: #E5E5E5;
} */

.client-border {
    padding: 30px 0;
    text-align: center;

    outline: 1px solid rgba(175, 177, 184, 1);
} 


.clients__list{
    // display: flex;
    // justify-content: center;

    padding: 0;
    margin: 0;
    list-style: none;

    justify-content: center;
    align-items: center;
    // grid-gap: 30px;

    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
}

.client__link{
    margin: 0;
    padding: 0;
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    object-fit: contain;

    transition-property: fill, border, box-sizing, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:active,
    &:hover,
    &:focus{

    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    box-sizing: border-box;
    border-radius: 4px;
    }

    @media screen and (max-width: 767px) {
        width: 210px;
      }
      @media screen and (min-width: 768px) {
        width: 226px;
      }
      @media screen and (min-width: 1200px) {
        width: 170px;
      }
}

// .client__link:active,
// .client__link:hover,
// .client__link:focus{

//     fill: var(--accent-color);
//     border: 1px solid var(--accent-color);
//     box-sizing: border-box;
//     border-radius: 4px;
// }
@media screen and (min-width: 1200px) {
    .client__item:not(:last-child){
    
        margin-right: 30px;
    }
  }
