.hero{
    /* padding-top: 200px;
    padding-bottom: 280px; */
    padding: 200px 0;
    background-color:var(--bg-color); 
    text-align: center;

    background-image:linear-gradient( 
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
     url(../img/start.jpg);
     max-width: 1600px;
     background-repeat: no-repeat;
     background-size: cover;
     margin: 0 auto;

}

