.section{
    // padding: 94px 0;
    padding: 60px 0;
    @media screen and (min-width:1200px) {
        padding: 94px 0;
    } 
}      
.section-inter{
    padding-bottom: 94px;
    @media screen and (max-width:1199px) {
        display: none;
        
    }
}

.section__title{

    margin-bottom: 30px;
    @include font(28px,1.17,700,00.03em);
    text-align: center;
    
    color:var( --title-text-color) ;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        @include font(36px,1.17,700,0.03em);
      }
    // font-weight: 700;
    // font-size: 36px;
    // line-height: 1.17;
    
//     letter-spacing: 0.03em;
}