.button {
    margin: 0 auto;
    display: block;
    padding: 10px 32px;
    border: 0px solid transparent;
    border-radius: 4px;
    
    background-color:var(--accent-color);
    color:var(--second-fon-color);
    
    font-family: inherit;
    font-style: normal;
    @include font(16px,1.88,700,0.06em);
    // font-weight: 700;
    // font-size: 16px;
    // line-height: 1.88;
    // letter-spacing: 0.06em;
    cursor: pointer;
    text-align: center;
}

.footer-button {
   
    display: inline-block;
    
    font-family: sans-serif;
    @include font(16px,1.87,700,0.06em);
    // font-weight: 700;
    // font-size: 16px;
    // line-height: 1.87;
    // letter-spacing: 0.06em;
    
    min-width: 200px;
    height: 50px;
    color: var(--primary-white-color);
    border: var(--accent-color);
    background-color: #188CE8;
    border-radius: 4px;
    /* padding: 0; */

    transition: box-shadow 250ms cubic-bezier(0.4,0,0.2,1);
    
    &:hover,
    &:focus {
   
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
  }
  // .footer-button:hover,
  // .footer-button:focus {
   
  //   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  // }

  .modal-button {

    font-family: 'Roboto';
    font-style: normal;
    @include font(16px,1.88,700,0.06em);
    // font-weight: 700;
    // font-size: 16px;
    // line-height: 1.88;
    // letter-spacing: 0.06em;
    /* identical to box height, or 188% */

    display: flex;
    align-items: center;
    text-align: center;
    

    color: var(--primary-white-color) ;

    width: 200px;
    height: 50px;
    background:var(--accent-color);
    
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    border-radius: 4px;

    padding: 10px 55px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    
    margin-right: auto;
    margin-left: auto;
    /* margin-top: 30px; */

    border: 1px solid transparent;

    &:hover,
    &:focus{
      background: #188ce8;
    }

  }

  // .modal-button:hover,
  // .modal-button:focus {
  //   background: #188ce8;
  // }