.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-svg{
    width: 11px;
    height: 11px;

    &:hover,
    &:focus{
    fill: var(--accent-color);
    }
}

// .modal-svg:hover,
// .modal-svg:focus{
//     fill: var(--accent-color);
// }

.modal-title{
    /* padding-top: 40px ;
    padding-right: 39px;
    padding-left: 41px; */
    margin-bottom: 20px;
    font-family: Roboto;
    @include font(20px,1.15,700,0.03em);
    // font-size: 20px;
    // font-weight: 700;
    // line-height: 1.15;
    // letter-spacing: 0.03em;
    text-align: center;

   color: rgba(33, 33, 33, 1);
}

.modal-field{
    margin-bottom: 30px;
}

.form-label{
    margin-bottom: 10px;
}

.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;   
    padding-left: 30px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4,0,0.2,1);

    &:focus,
    &:hover(
        border-color: var(--accent-color)
    )
}

// .modal-input:focus{
//     border-color: var(--accent-color)
// }

// .modal-input:hover{
//     border-color: var(--accent-color)
// }

.modal-input:focus +.input-icon{
    fill: var(--accent-color);
}

.modal-input:hover +.input-icon{
    fill:var(--accent-color);
}

.modal-input-wrap{
    position: relative;
}

.input-icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4,0,0.2,1);
}

.modal-text{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    /* margin-bottom: 10px; */
    padding: 12px 16px;
    resize: none;
    outline: none; 
    transition:  border-color 250ms cubic-bezier(0.4,0,0.2,1);
     
    &:focus,
    &:hover{
    border-color: var(--accent-color)
    }
}

// .modal-text:focus,
// .modal-text:hover{
//     border-color: var(--accent-color)
// }

.modal-label{
    display: block;
    margin-bottom: 4px;

    font-family: Roboto;
    font-style: normal;
    @include font(12px,1.17,400,0.01em);
    // font-size: 12px;
    // font-weight: 400;
    // line-height: 1.17;
    // letter-spacing: 0.01em;
    text-align: left;

    color: rgba(117, 117, 117, 1);

}

.check-text{
    display: flex;
    align-items: center;

    font-family: Roboto;
    @include font(14px,1.71,400,0.03em);
    // font-size: 14px;
    // font-weight: 400;
    // line-height: 1.71;
    // letter-spacing: 0.03em;
    text-align: left;
    /* margin-right: 8px; */
}

.check-icon{
    fill: transparent;
}

.check-text span{
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-check:checked + .check-text span{
    background-color: var(--accent-color);
    border: none;
} 

.input-check:checked + .check-text .check-icon{
    fill: var(--primary-white-color);
} 

.check-text-rools {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    @include font(14px,1.71,400,0.03em);
    // font-weight: normal;
    // font-size: 14px;
    // line-height: 1.71;
    // letter-spacing: 0.03em;
    color: var(--accent-color) ;
    text-decoration: underline;
    text-align: left;
  }
