.hero__title {
    // width: 696px;
    max-width: 250px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    color:var(--primary-white-color);
    @include font (18px,1.62,900,00.06em);
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: 480px) {
        @include font (26px,1.62,900,00.06em);
        max-width: 360px;
      }

      @media screen and (min-width: 1200px) {
        @include font(44px,1.36,900,0.06em);
       
        max-width: 360px;
        
        max-width: 696px;
        margin-left: auto;
        margin-right: auto;
      }
    
    

   

    // font-size: 44px;
    // font-weight: 900;
    // line-height: 1.36;
    // letter-spacing: 0.06em;
   
}