body{
    background-color:var(--primary-white-color) ;
    color:var( --primary-text-color) ;
    font-family: Roboto,sans-serif;
    font-size:14px;
    letter-spacing: 0.03em; 
}

address{
    font-style: normal;

    margin-top: 20px;
}

/* *,
  *::before,
  *::after {
    box-sizing: inherit;
  } */

p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

ul{
    padding-left: 0;
    margin: 0;
}

button{
    cursor: pointer;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

.list {
    list-style: none;  
 }

 .link {
    text-decoration: none;
}